services:
  frontend:
    image: adityakbr/eduapp2026:frontend-prod
    container_name: eduapp_frontend
    env_file:
      - .env.frontend.prod
    restart: always
    ports:
      - "3000:3000"

  backend:
    image: adityakbr/eduapp2026:backend-prod
    container_name: eduapp_backend
    env_file:
      - .env.backend.prod
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: eduapp_redis
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    restart: always

volumes:
  redis_data:
